{
  "globals": {
    "cy": false,
    "describe": false,
    "it": false,
    "before": false,
    "after": false,
    "beforeEach": false,
    "afterEach": false,
    "expect": false,
    "assert": false
  }
}
