.map {
  background-color: #F8F8F8;
  border: 1px solid rgba(13, 91, 166, 0.5);
  cursor: default;
  font-size: 3px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 4px;
  user-select: none;
  width: 100%;
  word-break: break-word;
}

.map blockquote {
  border-left: 1px solid #ccc;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-top: 5px;
  padding-left: 4px;
}

.map p, .map h1, .map h2, .map h3 {
  margin: 0;
  padding: 0.8px 2px;
}

.map h1 {
  font-size: 8px;
}

.map h2 {
  font-size: 6px;
}

.map h3 {
  font-size: 4px;
}

.map-inner {
  max-width: 145px;
  width: 145px;
}

mark {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  position: relative;
  white-space: pre-wrap;
  z-index: 10;
}

mark:after {
  background-color: rgba(1, 171, 109, 0.5);
  bottom: -2px;
  content: '';
  cursor: pointer;
  left: -3px;
  position: absolute;
  right: -3px;
  top: -2px;
}

mark:hover:after {
  background-color: rgba(1, 171, 109, 0.5);
}