* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .mobile-hide {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

.scroll-hide {
  display: none;
}

.scroll-shadow {
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16) !important;
}

body {
  padding-top: 61px;
}

@media (min-width: 768px) {
  body {
    padding-top: 85px;
  }
}

div, h1, h2, h3 {
  font-family: 'Source Serif Pro', serif;
}

h3 {
  margin-bottom: 32px;
  margin-top: 64px;
}

.logo {
  height: 39px;
  margin-bottom: 11px;
  margin-right: 25px;
  margin-top: 11px;
}

@media (min-width: 768px) {
  .logo {
    height: 58px;
    margin-bottom: 19px;
    margin-top: 8px;
  }
}

.header {
  align-items: center;
  background-color: #ffffff;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 20px;
  position: fixed;
  top: 0;
  transition: box-shadow 200ms;
  width: 100%;
  z-index: 1000;
}

@media (min-width: 768px) {
  .header {
    padding: 0 138px;
  }
}

.header-links {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-links-center {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-links-center a:not(:first-of-type) {
  margin-left: 32px;
}

a {
  color: #00866F;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 768px) {
  a {
    font-size: 20px;
  }

  .header-links a:not(:first-of-type) {
    margin-left: 64px;
  }
}

button, a.button {
  text-align: center;
}

a.button {
  background-color: #f47866;
  border-radius: 12px;
  color: #323232;
  padding: 16px 32px;
  text-decoration: none;
}

a.button.secondary {
  background-color: #00866f;
  color: #ffffff;
}

.content a.button, .content a.secondary {
  margin-bottom: 16px;
  max-width: 100%;
  text-align: center;
  width: 300px;
}

@media (min-width: 768px) {
  .content a.button, .content a.secondary {
    width: auto;
  }
}

.section {
  padding-left: 24px;
  padding-right: 24px;
}

.section.features {
  padding-top: 32px;
}

@media (min-width: 768px) {
  .section.features {
    padding-top: 104px;
  }
}

.bg-shaded {
  background-color: #f2f9f8;
}

.content {
  margin: 0px auto;
  max-width: 100%;
  width: 700px;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h3 {
  color: #00866f;
  font-size: 43px;
  margin-bottom: 21px;
  text-align: center;
}

@media (min-width: 768px) {
  h3 {
    font-size: 54px;
    margin-bottom: 40px;
  }
}

h4 {
  color: hsla(0, 0%, 19%, 1);
  font-size: 34px;
  text-align: center;
}

h4.margin-bottom {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  h4.margin-bottom {
    margin-bottom: 64px;
  }
}

h4.light {
  color: hsla(0, 0%, 32%, 1);
}

.tablet-img {
  background-image: url("./img/Hero-spots@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  max-width: 100%;
  width: 466px;
}

@media (min-width: 768px) {
  .tablet-img {
    background-size: contain;
    height: 236px;
  }
}

.tablet-img img {
  height: 192px;
  position: relative;
  top: 30px;
}

@media (min-width: 768px) {
  .tablet-img img {
    height: 266px;
    position: relative;
    top: 40px;
  }
}

.testimonial {
  box-shadow: 0 12px 40px hsla(0, 0%, 0%, 0.16);
  display: flex;
  flex-direction: row;
  margin-top: 38px;
  max-width: 100%;
  padding: 32px 16px;
  position: relative;
  width: 1030px;
}

@media (min-width: 768px) {
  .testimonial {
    padding: 62px 58px;
  }
}

.testimonial, .testimonial div {
  font-family: 'Source Sans Pro', sans-serif;
}

.quote-start, .quote-end {
  color: hsla(7, 86%, 67%, 0.5);
  fill: hsla(7, 86%, 67%, 0.5);
  display: block;
  font-size: 42px;
  height: 100%;
  position: relative;
}

.quote-end {
  align-self: flex-end;
  margin-bottom: 10px;
}

.quote, .attribution {
  font-size: 34px;
  text-align: center;
}

.quote {
  margin-left: 16px;
  margin-right: 16px;
}

.attribution {
  font-weight: bold;
  margin-top: 1em;
}

h3.features {
  margin-top: 0;
  padding-top: 128px;
}

.feature {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 96px;
  max-width: 100%;
  width: 822px;
}

.feature:first-of-type {
  margin-top: 47px;
}

.feature-img {
  width: 325px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .feature-img {
    width: 586px;
  }
}

.feature-main {
  font-size: 34px;
  font-weight: bold;
  padding-bottom: 8px;
  padding-top: 16px;
  text-align: center;
}

.feature-sub {
  font-size: 24px;
  text-align: center;
}

.coming-soon {
  color: hsla(0, 0%, 32%, 1);
  font-size: 16px;
}

.section.pricing {
  padding-top: 32px;
}

@media (min-width: 768px) {
  .section.pricing {
    padding-top: 64px;
  }
}

.section.pricing h3 {
  margin-bottom: 64px;
}

.pricing-cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 128px;
  max-width: 100%;
  padding: 0 20px;
}

@media (min-width: 1100px) {
  .pricing-cards {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
}

.pricing-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 12px 40px hsla(0, 0%, 0%, 0.16);
  width: 600px;
  padding: 32px 16px 32px 16px;
  margin-bottom: 32px;
  max-width: 100%;
}

.pricing-card hr {
  border-color: #000000;
}

@media (min-width: 1100px) {
  .pricing-card {
    margin-bottom: 0;
    flex: 1;
    max-width: 436px;
    padding: 32px 32px 64px 32px;
  }
  
  .pricing-card:not(:last-of-type) {
    margin-right: 32px;
  }

  .pricing-card hr {
    border-top-width: 2px;
  }
}

.highlighted-price {
  border: 6px solid hsla(169, 100%, 26%, 1);
}

.account-type {
  color: hsla(0, 0%, 19%, 1);
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.account-price {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}

.account-intro {
  color: hsla(169, 100%, 26%, 1);
  font-size: 24px;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.benefits {
  list-style-type: none;
  padding-left: 64px;
}

.benefit {
  color: hsla(0, 0%, 19%, 1);
  font-size: 24px;
  position: relative;
}

.benefit:not(:last-of-type) {
  margin-bottom: 16px;
}

.benefit .fa-check {
  color: hsla(169, 100%, 26%, 1);
  fill: hsla(169, 100%, 26%, 1);
  font-size: 34px;
  height: 34px;
  left: -62px;
  position: absolute;
}

h3.black {
  color: hsla(0, 0%, 19%, 1);
}

.cta {
  padding-bottom: 128px;
}

.cta h3, .cta h4 {
  margin-bottom: 32px;
  margin-top: 0;
}

.footer {
  background-color: hsla(0, 0%, 19%, 1);
  color: #ffffff;
  padding: 64px;
}

.footer-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

@media (min-width: 768px) {
  .footer-links {
    flex-direction: row;
  }
}

.footer-links a {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .footer-links a {
    margin-bottom: 0;
  }

  .footer-links a:not(:last-of-type) {
    margin-right: 32px;
  }
}

.social {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .social {
    flex-direction: row;
  }
}

.social .follow {
  color: #fff;
  font-size: 34px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .social .follow {
    margin-bottom: 0;
  }
}

.social a {
  color: #ffffff;
  fill: #ffffff;
  font-size: 44px;
  margin-left: 32px;
}

.legal {
  font-size: 20px;
}