/* PAGE */

html, body {
  font-family: 'Asap Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* FONTS */
a, button, div, input, optgroup, select, span, textarea,
h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Asap', sans-serif;
  font-size: 16px;
}


/* TAGS */
a {
  color: #444;
  transition: background-color 250ms, border-color 250ms, color 250ms;
}

a:hover {
  background-color: #ffeb3b;
  border-color: #ffeb3b;
  color: #000;
}

h1, h2, h3, h4, h5 {
  margin: 6px 0;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin-top: 20px;
}

h4 {
  font-size: 22px;
}

@media (max-width: 800px) {
  h1, h2, h3, h4 {
    padding: 0 5px;
  }
}

ul li, ol li {
  margin-left: 10px;
}

@media (max-width: 800px) {
  ul:not(.features) li {
    margin-left: 15px;
  }
}

/* CLASSES */

.left-align .header,
.left-align h1,
.left-align h2,
.left-align h3,
.left-align h4 {
  max-width: 100%;
  padding: 0 5px;
  text-align: left;
}

@media (min-width: 800px) {
  .left-align .header,
  .left-align h1,
  .left-align h2,
  .left-align h3,
  .left-align h4 {
    width: 800px;
  }
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 95px;
  justify-content: center;
  padding: 15px 0;
}

.logo {
  height: 60px;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
}

.header-links a {
  background-color: rgba(255, 235, 59, 0.4);
  border: 2px solid #ffeb3b;
  box-shadow: none;
  color: #000;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  transition: background-color 200ms, box-shadow 200ms;
  width: 84px;
}

.header-links a:hover {
  background-color: #ffeb3b;
  border-color: #ffeb3b;
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.24);
}

.header-links a:not(:last-of-type) {
  margin-right: 12px;
}

.hook {
  align-items: center;
  background-color: #FFF;
  color: #222;
  display: flex;
  flex-direction: column;
  padding: 35px 0;
  text-align: center;
}

.below-hook {
  padding-top: 30px;
}

.slider-wrap {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0;
}

.inner-slider-wrap {
  /* box-shadow: 0px 0px 11px 6px rgba(240, 240, 240, 1); */
  border: 2px solid rgba(0, 0, 0, 0.5);
  max-width: 100%;
  position: relative;
  z-index: 20;
}

.slider-inset-shadow {
  box-shadow: inset 0px 0px 11px 6px rgba(240, 240, 240, 1);
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 30;
}

.slider-button {
  color: #666;
  cursor: pointer;
  font-size: 40px;
  left: 0;
  margin: 0;
  position: relative;
  transition: color 200ms, left 200ms, right 200ms;
  z-index: 40;
}

.slider-button.left {
  left: 40px;
}

.slider-button.right {
  left: -40px;
}

.slider-button:hover {
  color: #000;
}

@media (min-width: 800px) {
  .slider-button {
    z-index: 10;
  }

  .slider-button.left {
    left: 8px;
  }

  .slider-button.right {
    left: -8px;
  }

  .slider-button:hover {
    left: 0;
  }
}

.intro-slider {
  background-color: #f0f0f0;
  height: 380px;
  max-width: 100%;
  position: relative;
  width: 700px;
  z-index: 20;
}

.slider-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 380px;
  justify-content: space-between;
  padding: 20px;
}

.screenshot {
  margin: 16px 0;
  max-height: 270px;
  max-width: 90%;
}

.caption {
  font-size: 22px;
  padding: 0 12px;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  width: 100%;
}

.content > p, .content > ul, .content > ol {
  max-width: 100%;
  padding: 0 12px;
  width: 100%;
}

@media (min-width: 800px) {
  .content > p, .content > ul, .content > ol {
    width: 800px;
  }
}

.content-link {
  background-color: rgba(255, 235, 59, 0.4);
  border: 2px solid #ffeb3b;
  box-shadow: none;
  color: #000;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  transition: background-color 200ms, box-shadow 200ms;
}

.content-link:hover {
  background-color: #ffeb3b;
  border-color: #ffeb3b;
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.24);
}

.content-button {
  margin: 12px 0;
}

.center {
  text-align: center;
}

.features li {
  align-items: center;
  display: flex;
  line-height: 22px;
  list-style-type: none;
  padding-bottom: 8px;
  padding-top: 8px;
}

.features .icon {
  display: flex;
  font-size: 20px;
  justify-content: center;
  width: 35px;
}

.features svg {
  margin-right: 12px;
}

.feature {
  flex: 1;
}

.small {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: bold;
  margin: 2px 4px;
  padding: 6px;
}

.small .icon {
  font-size: 18px;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: center;
  padding-bottom: 30px;
}

/* BACKGROUNDS */

.background-gray, .background-pink, .background-blue, .background-purple, .background-green,
.background-yellow, .background-orange {
  padding: 0 30px;
}

/* .background-pink > div,  */
.background-gray > div, .background-blue > div, .background-purple > div,
.background-green > div, .background-yellow > div, .background-orange > div {
  background-color: #fff;
}

.background-gray {
  background-color: #f0f0f0;
}

.background-pink {
  background-color: #ffbdbd;
}

.background-blue {
  background-color: #c9c9ff;
}

.background-purple {
  background-color: #f1cbff;
}

.background-green {
  background-color: #e1f7d5;
}

.background-yellow {
  background-color: #ffffba;
}

.background-orange {
  background-color: #ffdfba;
}