/* PAGE */

html, body {
  background-color: #FFF;
  font-family: 'Asap Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* FONTS */
a, button, div, input, optgroup, select, span, textarea,
h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Asap', sans-serif;
  font-size: 16px;
}

p, .feature, li {
  line-height: 1.6em;
}


/* TAGS */
a {
  color: #444;
  transition: background-color 250ms, border-color 250ms, color 250ms;
}

a:hover {
  background-color: #ffeb3b;
  border-color: #ffeb3b;
  color: #000;
}

h1, h2, h3, h4, h5 {
  margin: 6px 0;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin-top: 20px;
}

h4 {
  font-size: 22px;
}

@media (max-width: 800px) {
  h1, h2, h3, h4 {
    padding: 0 12px;
  }
}

hr {
  background-color: #CCC;
  border: none;
  height: 1px;
  margin: 14px auto;
  max-width: 800px;
}

ul li, ol li {
  margin-left: 10px;
  padding: 8px 0;
}

@media (max-width: 800px) {
  ul:not(.features) li {
    margin-left: 15px;
  }
}

/* CLASSES */

@media (max-width: 800px) {
  .mobile-hide {
    display: none !important;
  }
}

.left-align .header,
.left-align h1,
.left-align h2,
.left-align h3,
.left-align h4 {
  max-width: 100%;
  padding: 0 5px;
  text-align: left;
}

@media (min-width: 800px) {
  .left-align .header,
  .left-align h1,
  .left-align h2,
  .left-align h3,
  .left-align h4 {
    width: 800px;
  }
}

.header {
  background-color: #FFF;
  border-bottom: 1px solid rgba(1, 171, 109, 0.1);
  box-shadow: 0 4px 16px -5px rgba(1, 171, 109, 0.3);
  overflow: hidden;
  padding: 10px 14px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-inner {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  position: sticky;
  width: 800px;
}

.logo {
  height: 50px;
  margin-top: 4px;
}

.header-links {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.header-links a {
  cursor: pointer;
}

.header-links a.primary {
  background-color: #fff49d;
  border: 2px solid #ffeb3b;
  box-shadow: none;
  color: #000;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  transition: background-color 200ms, box-shadow 200ms;
  width: 84px;
}

.header-links a.primary:hover {
  background-color: #ffeb3b;
  border-color: #ffeb3b;
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.24);
}

.header-links a:not(:last-of-type) {
  margin-right: 12px;
}

.hook-img {
  padding-top: 40px;
  text-align: center;
}

.hook-img img {
  height: 300px;
}

.hook {
  align-items: center;
  background-color: #FFF;
  color: #222;
  display: flex;
  flex-direction: column;
  padding: 35px 0;
  text-align: center;
}

.below-hook {
  padding: 30px 0;
}

.below-hook h4 {
  padding: 0 10px;
  max-width: 100%;
  width: 675px;
}

.intro {
  font-size: 18px;
  padding: 0;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content > p, .content > ul, .content > ol {
  max-width: 100%;
  padding: 0 10px;
  width: 100%;
}

@media (min-width: 800px) {
  .content > p, .content > ul, .content > ol {
    max-width: 100%;
    padding: 0 10px;
    width: 675px;
  }
}

.signup-link {
  background-color: rgba(255, 235, 59, 0.4);
  border: 2px solid #ffeb3b;
  box-shadow: none;
  color: #000;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin: 12px 0;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  transition: background-color 200ms, box-shadow 200ms;
}

.signup-link:hover {
  background-color: #ffeb3b;
  border-color: #ffeb3b;
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.24);
}

.center {
  text-align: center;
}

.features {
  margin-bottom: 30px;
}

.features li {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}

.features li:not(:last-child) {
  border-bottom: 1px solid #EEE;
}

.feature-image {
  margin-bottom: 8px;
  padding: 0;
}

@media (min-width: 800px) {
  .features li {
    border: none;
    margin: -8px 0;
    padding: 0;
  }

  .features li:not(:last-child) {
    border: none;
  }

  .features li:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .features li:nth-child(even) > div {
    padding-left: 20px;
  }
  
  .features li:nth-child(odd) {
    flex-direction: row;
  }
  
  .features li:nth-child(odd) > div {
    padding-right: 20px;
  }

  .feature-image {
    margin-bottom: 0;
  }
}

.feature-image img {
  height: 175px;
}

.features svg {
  margin-right: 12px;
}

.feature {
  flex: 1;
  max-width: 450px;
}

.pricing {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto;
  max-width: 100%;
  padding-bottom: 30px;
  width: 1000px;
}

.pricing-box {
  border: 4px solid #59C8A0;
  border-radius: 8px;
  flex: 1;
  margin: 0 4px;
  padding: 0;
  width: 100%;
}

.pricing-header {
  background-color: #59C8A0;
  color: #fff;
  padding: 7px 0;
  text-align: center;
}

.pricing-header h4 {
  margin: 0;
}

.pricing-features {
  padding: 0 15px;
}

.pricing-features li {
  list-style-type: none;
  padding: 0;
  padding-left: 17px;
  position: relative;
}

.pricing-features li:before {
  color: rgba(1, 171, 109, 0.75);
  content: "✓";
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin-right: 6px;
  left: -3px;
  position: absolute;
  top: 0;
}

@media (max-width: 800px) {
  .pricing {
    flex-direction: column;
  }

  .pricing-box {
    margin: 10px 0;
    width: 100%;
  }
}

.gray {
  color: #888;
}

.small {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: bold;
  margin: 2px 4px;
  padding: 6px;
}

.small .icon {
  font-size: 18px;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

/* BACKGROUNDS */

.background-green {
  background-color: rgba(1, 171, 109, 0.25);
  padding: 0 20px;
}

.background-inner {
  background-color: #FFF;
  box-shadow: 0px 0px 16px 1px rgba(170, 170, 170, 1);
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}