/* PAGE */

html, body {
  background-color: #F0F0F0;
  font-family: 'Asap Condensed', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}


/* TAGS */

button, div, input, optgroup, select, span, textarea {
  font-family: 'Asap Condensed', sans-serif;
}

p, li {
  font-family: 'Libre Baskerville', serif;
}

button {
  background-color: transparent;
  border: 1px solid #CCC;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 10px;
}

button.button-green {
  background-color: #8bc34a;
  border: none;
  color: #FFF;
}

button[disabled] {
  background-color: #888;
  cursor: default;
}

hr.vert {
  border: none;
  border-right: 1px solid #CCC;
  display: inline-block;
  height: 20px;
  width: 1px;
}

input {
  border: 1px solid #e8cc84;
  border-radius: 2px;
  padding: 4px;
}

li {
  margin-bottom: 10px;
}

textarea {
  border: 1px solid #CCC;
}