/* PAGE */

html, body {
  background-color: #F0F0F0;
  font-family: 'Asap Condensed', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}


/* TAGS */

button, div, input, optgroup, select, span, textarea {
  font-family: 'Asap Condensed', sans-serif;
}

p {
  font-family: 'Libre Baskerville', serif;
}

button {
  background-color: transparent;
  border: 1px solid #CCC;
  cursor: pointer;
  padding: 6px 10px;
}

textarea {
  border: 1px solid #CCC;
}