/* PAGE */

html, body {
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  width: 100%;
}


/* TAGS */

button {
  background-color: transparent;
  border: 1px solid #CCC;
  cursor: pointer;
  padding: 6px 10px;
}